bin/Debug/net6.0/EPPlus.dll
bin/Debug/net6.0/ExcelRead&Write.deps.json
bin/Debug/net6.0/ExcelRead&Write.dll
bin/Debug/net6.0/ExcelRead&Write.exe
bin/Debug/net6.0/ExcelRead&Write.pdb
bin/Debug/net6.0/ExcelRead&Write.runtimeconfig.json
bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.Configuration.dll
bin/Debug/net6.0/Microsoft.Extensions.Configuration.FileExtensions.dll
bin/Debug/net6.0/Microsoft.Extensions.Configuration.Json.dll
bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Physical.dll
bin/Debug/net6.0/Microsoft.Extensions.FileSystemGlobbing.dll
bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net6.0/Microsoft.IO.RecyclableMemoryStream.dll
bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net6.0/System.Drawing.Common.dll
bin/Debug/net6.0/System.Security.Cryptography.Pkcs.dll
bin/Debug/net6.0/System.Xml.XPath.XmlDocument.dll
bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Security.Cryptography.Pkcs.dll
obj/ExcelRead&Write.csproj.nuget.dgspec.json
obj/ExcelRead&Write.csproj.nuget.g.props
obj/ExcelRead&Write.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/ExcelRead&Write.AssemblyInfo.cs
obj/Debug/net6.0/ExcelRead&Write.AssemblyInfoInputs.cache
obj/Debug/net6.0/ExcelRead&Write.assets.cache
obj/Debug/net6.0/ExcelRead&Write.csproj.AssemblyReference.cache
obj/Debug/net6.0/ExcelRead&Write.csproj.CopyComplete
obj/Debug/net6.0/ExcelRead&Write.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/ExcelRead&Write.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ExcelRead&Write.dll
obj/Debug/net6.0/ExcelRead&Write.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ExcelRead&Write.genruntimeconfig.cache
obj/Debug/net6.0/ExcelRead&Write.GlobalUsings.g.cs
obj/Debug/net6.0/ExcelRead&Write.pdb
obj/Debug/net6.0/ref/ExcelRead&Write.dll
obj/Debug/net6.0/refint/ExcelRead&Write.dll
dotnet-sdk-6.0.200-win-x64.exe
